body {
  text-align: center;
  background-color: #f8f9fa;
}

h1 {
  color: #343a40;
  margin-top: 50px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.video-container img {
  max-width: 100%;
  height: auto;
  border: 5px solid #343a40;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.container {
  margin-top: 20px;
}

.alert {
  margin-bottom: 10px;
}
