<!DOCTYPE html>
<html>
  <head>
    <title>Voted Persons</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Voted Persons</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <table class="table">
            <thead>
              <tr>
                <th>Serial No.</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for person in voted_persons %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ person }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
